:root {
  --spacing: 2rem;

  --background-color: #061616;
  --background-color-center: #103d56;
  --gray: #ddd;
  --white: #ffffff;

  --primary: #ffc917;
  --danger: #ff692e;

  --star: var(--white);
  --dark-star: #0c2c3d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
  overflow: hidden;
  line-height: 1.35;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

