:root {
  --spacing: 2rem;

  --background-color: #061616;
  --background-color-center: #103d56;
  --background-color-static: #0a2a3c;
  --gray: #ddd;
  --white: #e9f4f6;

  --primary: #ffc917;
  --danger: #ff692e;

  --star: #d4e9ed;
  --dark-star: #0c2c3d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
  overflow: hidden;
  line-height: 1.35;
  font-size: 14px;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

main {
  display: block;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.bright {
  color: #fff;
}
